body {
  margin: 0;
  position: relative;
}
.stats {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
}
button {
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 3px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}
#start {
  position: absolute;
  font-size: 4rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
